<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Blogs'"></title>
</head>
<body>

<a th:href="@{/home}">Back to Home</a><br><br>

Search posts by keywords:
<form th:action="@{/readPosts(search=${search})}">
    <input type="text" th:value="${search}" name="search"><br><br>
    <input type="submit" value="Search!">
</form><br>

<div th:if="${sortField != null}">
    Sort posts by:
    <a th:href="@{/readPosts(start=${currentPage},limit=${pageSize},sortField=publishedAt,sortOrder=asc)}">Oldest First</a>
    <a th:href="@{/readPosts(start=${currentPage},limit=${pageSize},sortField=publishedAt,sortOrder=desc)}">Newest First</a><br><br>
    <a th:href="@{/readPosts}">Refresh</a><br>
</div>


    <div th:each="post : ${posts}">
        <div class = "postDiv">
            <div class="titleDiv">
                <a th:href="@{/readPost(id=${post.id})}"><h2 class="title" th:text="${post.title}"></h2></a>
            </div>
            <div class="excerptDiv">
                Excerpt:<br>
                <p th:text="${post.excerpt}"></p>
            </div>
            <div class="authorTimeDiv">
                <div class="authorDiv">
                    Author:
                    <p th:text="${post.author}"></p>
                </div>
                <div class="timeDiv">
                    <p>
                        Published At:
                        <span th:text="${#temporals.format(post.publishedAt, 'dd-MM-yyyy HH:mm')}"></span>
                    </p>
                    <p>
                        Created At:
                        <span th:text="${#temporals.format(post.createdAt, 'dd-MM-yyyy HH:mm')}"></span>
                    </p>
                    <p>
                        Updated At:
                        <span th:text="${#temporals.format(post.updatedAt, 'dd-MM-yyyy HH:mm')}"></span>
                    </p>
                </div>
            </div>
        </div>
    </div><br>

    <div th:if="${totalPages != null}">
        <div th:if="${totalPages > 1}">
            <div class="pagesRow">
                Total posts overall: <p th:text="${totalPosts}"></p>
                Total posts on this page: <p th:text="${currentTotalPosts}"></p>
                <p>
                    <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                        <a th:if="${currentPage != i}" th:href="@{/readPosts(start=${i},limit=${pageSize},sortField=publishedAt,sortOrder=asc)}">[[${i}]]</a>
                        <span th:unless="${currentPage != i}">[[${i}]]</span>
                    </span>
                </p><br>

                <p>
                    <a th:if="${currentPage - 1 > 0}" th:href="@{/readPosts(start=${currentPage - 1},limit=${pageSize},sortField=publishedAt,sortOrder=asc)}">Previous</a>
                    <span th:unless="${currentPage - 1 > 0}">Previous</span>
                </p>

                <p>
                    <a th:if="${currentPage < totalPages}" th:href="@{/readPosts(start=${currentPage + 1},limit=${pageSize},sortField=publishedAt,sortOrder=asc)}">Next</a>
                    <span th:unless="${currentPage < totalPages}">Next</span>
                </p>
            </div>
        </div>
    </div>
</body>
</html>