<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="'Home Page'"></title>
    <style>
        body {
            font-style: monospace;
        }
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 80px;
            margin-top: 200px;
        }

        a {
            color: black;
            font-size: 50px;
            text-decoration: none;
        }

        a:hover {
            color: #77a2c9;
        }
    </style>
</head>
<body>
    <div class="container">
        <div sec:authorize="isAuthenticated()">
            <a th:href="@{/showPostForm}">Post a blog</a>
        </div>

        <div sec:authorize="!isAuthenticated()">
            <a th:href="@{/register}">Register</a>
        </div><br>

        <a th:href="@{/readPosts}">Read posts</a>
    </div>
</body>
</html>